.modal{
  width: 200%;
}
.card-header{
    background-color: #6cbb5c; 
    color:white;
}
.swal-footer{
    text-align: center;
}
.modal-header{
    background-color: #6cbb5c; 
    color:white;
}
.modal .modal-dialog .modal-content{
    width: 170%;
    margin-left:-160px;
}
@media screen and (max-width:800px){
    .modal .modal-dialog .modal-content{
        width: 105%;
        margin-left:0px;
    }
}